/* -------------------- CSS Reset -------------------- */
@import-normalize;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
  background: transparent;
  border: none;
}
  
button:hover, button:focus{
  outline: none;
}

body{
  font-family: inherit;
}

/* -------------------- Animation -------------------- */
/* ---------- fadeOut ---------- */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOutSign {
  animation-name: fadeOut;
}

.fadeOutHeader {
  animation-name: fadeOut;
  animation-delay: 0.5s;
}

/* ---------- fadeIn ---------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.fadeInSign {
  animation-name: fadeIn;
}

.fadeInHeader {
  animation-name: fadeIn;
  animation-delay: 0.5s;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}